# Notes
temp*
temp*/*

# Editors
*sublime*
.vs/*

# Settings
*toml

# Automation, Python
automation/_output/*
*__pycache__/

# Defaults
.DS_Store

# duplicate items when build with docker
docs/src/C*
docs/src/LI*
