# Notes
temp*
temp*/*
*sublime*

# Settings
*toml

# Automation
3_Automation/_Auto*
docs/3_Automation/_Auto*

# Defaults
.DS_Store

# duplicate items when build with docker
docs/src/C*
docs/src/LI*
