# Notes
temp*
temp*/*
!templates/

# Editors
*sublime*
.vs/*
*swp

# pip
*egg-info*

# Automation, Python
automation/_output/*
*__pycache__/

# Defaults
.DS_Store

# duplicate items when build with docker
docs/src/C*
docs/src/LI*
