.bs-sidenav {
    background-image: url("../img/NONE.png");
    background-repeat: repeat;
    font-family: Inter,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}
.table {
  table-layout: auto;
  width: auto;
}
td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
blockquote
{
margin-left: 10px;
padding-left: 10px;
padding-top: 0px;
padding-bottom: 0px;
border-left: 3px solid #80808080;
}
