black # Code formatting
html2image # Generating images from html
jupyter # Running notebooks
notebook # Running notebooks
pdf2image # Splitting pdfs
pre-commit # Checking files before commits
pydot # Generating graphviz objects
pyyaml # Importing yml
